<form action="/register" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="name">Name</label>
    <input type="text" name="user[name]" id="name">
    <label for="email">Email</label>
    <input type="text" name="user[email]" id="email">
    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">
    <label for="password_confirmation">Password_Confirmation</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation">
    <input type="submit" value="Join">
</form>